// Color Variables
$primary-color: #4200fe; // #41228e;
$secondary-color: #D2F451; // #2bfdff
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Milligram Medium', sans-serif;
$secondary-font: 'Milligram Bold', serif;
$icon-font: 'themify';
